.categorie{
    position: relative;
    top: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
}
table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;}
  
#prod{
    position: relative;
    top: 10px;
    
    
}

  
