


<div class="container">
  <div class="titlu">
    <img src="../../assets/img/Sticker.png" class="img2" alt="logo">  
    <h1>Arthur's PlayTime</h1>
  </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/cont">Contul meu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cos">Cosul de cumparaturi</a>
          </li>
      </ul>
     
</div>

<router-outlet ></router-outlet>