table {
    position:relative;
        top: 20px;
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;}
    button{
        position:relative;
        top: 30px;
        left: 35%;
    }